{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block javascripts %}
<script>
    const data = "{{ url(api_endpoint) }}";
    const singleBookEndpoint = "{{ path('get_book_by_id', {id: 0}) }}";
    const jwt = "{{token}}";
</script>
<script src="{{ asset('js/allbooks.js')}}"></script>
{% endblock %}

{% block body %}
<div class="container mt-4 d-flex justify-content-center align-items-center mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <label for="search-field">Search by</label>
            <div class="input-group">
                <select id="search-field" class="form-select" aria-label="Field Selector">
                    <option value="title">Title</option>
                    <option value="author">Author</option>
                    <option value="yearOfPublication">Year of Publication</option>
                </select>
                <input type="text" id="search-input" class="form-control" placeholder="Enter value to search">
            </div>
        </div>
        <div class="col-md-4">
            Sort by
            <select id="sort-book" class="form-select" aria-label="Field Selector">
                <option selected>Default</option>
                <option value="title">Title</option>
                <option value="author">Author</option>
                <option value="yearOfPublication">Year of Publication</option>
            </select>
        <div>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center mt-5" style="padding-top: 2rem;">
    <div id="books" class="row justify-content-center">
    </div>
</div>
{% endblock %}