{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block javascripts %}
<script>
    const data = "{{ url(api_endpoint, {id: book_id}) }}";
    const delete_redirect = "{{ url(delete_redirect) }}";
    const delete_endpoint = "{{ url(delete_endpoint, {id: book_id}) }}";
    const edit_endpoint = "{{ url(edit_endpoint, {id: book_id}) }}";
    const jwt = "{{token}}";
</script>
<script src="{{ asset('js/error.js')}}"></script>
<script src="{{ asset('js/fetchbook.js')}}"></script>
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center align-items-center mt-5">
    <div id="book" class="row justify-content-center">
    </div>
</div>
{% endblock %}