{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block javascripts %}
<script>
    const data = "{{ url(api_endpoint) }}";
    const successURL = "{{ path(success_url, {id: 0}) }}";
</script>
<script src="{{ asset('js/error.js')}}"></script>
<script src="{{ asset('js/newbook.js')}}"></script>
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center align-items-center mt-5">
    <form id="book-form" class="row justify-content-center">
        <div class="mb-3">
            <label class="form-label" >Title</label>
            <div class="uk-form-controls">
            <input
                class="form-control"
                id="book-title"
                minlength="3"
                maxlength="255"
                type="text"
                placeholder="Title"
                required
            />
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" >Author</label>
            <div class="uk-form-controls">
            <input
                class="form-control"
                id="book-author"
                minlength="3"
                maxlength="255"
                type="text"
                placeholder="Author"
                required
            />
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">ISBN</label>
            <div class="uk-form-controls">
            <input
                class="form-control"
                minlength="10"
                maxlength="13"
                id="book-isbn"
                type="text"
                placeholder="ISBN"
                required
            />
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" >Year of publication</label>
            <div class="uk-form-controls">
            <input
                class="form-control"
                min="1900"
                id="book-yearOfPublication"
                type="number"
                placeholder="i.e. 1987"
                required
            />
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
</div>
{% endblock %}